<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Super Heroes</h1>


  <div>
    <h2><%= @team.name %></h2>
    <h3>Team Motto <%= @team.motto %></h3>
  </div>


<h1>Ships</h1>

  <% @ships.each do |ship| %>

    <div>
<p>Ship Name: <%= ship.name %></p><br>
      <p>Ship Type: <%= ship.type %></p><br>
      <p>Ship Booty: <%= ship.booty %></p><br>
    </div><br>
  <% end %>
</body>
</html>